{% extends "base.html" %}
{% block title %}Alle CNNs{% endblock %}

{% block content %}

<h1 class="title">Alle trainierten CNNs</h1>
<p>
    Hier sind alle trainierten CNNs aufgelistet.

    <span class="has-text-grey">
        Sich noch im Training befindliche CNNs werden womöglich noch nicht angezeigt.
    </span>
</p>

<table class="table is-striped is-hoverable is-fullwidth my-5">
    <thead>
        <tr>
            <th>Name</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        {% for run in cnns %}
        <tr>
            <td>{{ run }}</td>
            <td>
                <a href="{{ url_for('cnn.view', run_name=run) }}" class="button is-small is-link">Ansehen</a>
                <a href="{{ url_for('cnn.delete', run_name=run) }}" class="button is-small">Löschen</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    setInterval(() => {
        location.reload();
    }, 5000);
</script>

{% endblock %}