{% extends "base.html" %}
{% block title %}Training starten{% endblock %}

{% block content %}

<h1 class="title">Neues Training anordnen</h1>
<p>
    Hier kann ein neues Training für eine bestehende Architektur angeordnet werden.
</p>

<p class="my-4">
    Du hast die Architektur <strong>{{ arch_name }}</strong> ausgewählt.
</p>
<p>
    Diesem Trainings-Run wird der Name {{run_name}} zugeordnet.
    Bitte klicke auf den Button, um das Training zu starten.
</p>

<hr>

<div class="my-4">
    <form method="post" action="{{ url_for('cnn.start_training') }}">
        <input type="hidden" name="arch_name" value="{{ arch_name }}">
        <input type="hidden" name="run_name" value="{{ run_name }}">
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">Training starten</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}