{% extends "base.html" %}
{% block title %}Architekturen{% endblock %}

{% block content %}

<h1 class="title">Alle bestehenden Architekturen</h1>
<p>
    Auf dieser Seite sind alle bestehenden Architekturen aufgelistet. Diese können hier verwaltet werden.
</p>

<table class="table is-striped is-hoverable is-fullwidth my-5">
    <thead>
        <tr>
            <th>Name</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        {% for arch in archs %}
        <tr>
            <td>{{ arch }}</td>
            <td>
                <a href="{{ url_for('cnn.train', arch_name=arch) }}" class="button is-small is-link">CNN-Training
                    starten</a>
                <a href="{{ url_for('arch.edit', arch_name=arch) }}" class="button is-small">Bearbeiten</a>
                <a href="{{ url_for('arch.delete', arch_name=arch) }}" class="button is-small">Löschen</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}